<div>
  <%= flash[:notice] %>
  <% require 'pry'; binding.pry %>
  <% if @records %>
  <% require 'pry'; binding.pry %>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>date</th>
          <th>number</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.name %></td>
            <td><%= record.date %></td>
            <td><%= record.number %></td>
            <td><%= record.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h4>Import CSV</h4>
   <%= form_tag 'api/record.csv', multipart: true do %>
     <%= file_field_tag :file %>
     <%= submit_tag "Import csv file" %>
   <% end %>
</div>
